*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.home{
    .homeHeader{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #E6F1F0;
        height: 200px;
        img{
            margin-left: 450px;
            width: 90px;
            height: 100px;
        }
        h1{
            font-size: 40px;
            margin-left: 40px;
            color: #3D685E;
        }
    }
    .todoList{
        text-align: center;
        margin-top: 70px;
        .todo-input{
            border:none;
            border-bottom: 1px solid #3D685E;
            width: 300px;
            height: 30px;
            &:focus{
                border-bottom: 1px solid #3D685E;
                outline: none;
            }
        }
        span{
           svg{
            width: 20px;
            height: 20px;
            color: white;
           }
        }
        button{
            width: 70px;
            height: 30px;
            background-color: #3D685E;
            border: none;
            margin-left: 15px;
            color: #E6F1F0;
        }
        select{
            background-color: #3D685E;
            width: 150px;
            height: 30px;
            margin-top: 30px;
            color: #E6F1F0;
            border: none;
        }
    }
    .todosCard{
        margin: 100px 0 0 350px;
        border: 1px solid #3D685E;
        width: 900px;
        .list{
            display: flex;
            justify-content: flex-start;
            align-items: center;
       
            span{
                border: 1px solid #3D685E;
                padding: 5px;
            }
            p{
                border: 1px solid #3D685E;
                padding: 5px;
                width: 500px;
            }
        }
    }


}